body {
  font-family: "Happy Monkey", cursive;
  background: linear-gradient(lightskyblue, #efbdc9);
  color: #ffffff;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avater {
  border-radius: 50%;
  width: 150px;
  border: 6px solid #efbdc9;
}

h1,
h2,
h4 {
  /* border: 1px solid black; */
  text-shadow: 0px 0px 1px black;
}

h2,
h4 {
  /* background: #efbdc9; */
}

#bday-age,
#bday-date {
  background-color: #efbdc9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}

#bday-date {
  margin: 0;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}
.gift-hint {
  margin-top: 0;
}

.gift-img {
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 6px solid white;
  border-radius: 10px;
}

.hot-img {
  background-image: url("images/hot.gif");
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 6px solid white;
}

#gift-img-happy:hover {
  background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
  background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
  background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
  background-image: url("images/badass.gif");
}

#gift-img-cheers {
  height: 200px;
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.gif");
}

#footer {
  width: 400px;
  margin: 40px auto 20px;
  font-style: italic;
}
